/*----------------------------------------------------------------*/
* {
	color: #D0D0D0FF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	line-height: 1.0;
	font-size: 4vmin;
	font-family: Avenir, sans-serif;
	text-decoration: none;
	resize: none;
	border: none;
	border-radius: 1vmin;
	background-color: #FFFFFF00;
}
html {
	height: 100vh;
	width: 100vw;
}
body {
	/*overflow: hidden;*/
	background-color: #202020FF;
}
/*----------------------------------------------------------------*/
#container {
	border: 2vmin #808080FF double;
	/*position: absolute;*/
	position: fixed;
	height: 100%;
	width: 200%;
	left: 0vw;
	transition: left 0.3s;
}
/*----------------------------------------------------------------*/
#container div.form {
	width: 50%;
	float: left;
}
#container div#a {
	border: 2vmin #FF8822FF solid;
}
#container div#b {
	border: 2vmin #2288FFFF dotted;
}
/*----------------------------------------------------------------*/
#container div.form label {
	border: 1vmin #C06070FF solid;
	position: absolute;
	height: min-content;
	width: min-content;
	right: 0;
	padding: 2vmin;
}
/*----------------------------------------------------------------*/
#container div.form p.formSize {
	position: absolute;
	height: 25vmin;
	width: auto;
	left: 10%;
	top: 10%;
}
/*----------------------------------------------------------------*/
div:has(p#res) {
	position: fixed;
	top: 25%;
	left: 25%;
	height: 50%;
	width: 50%;
}
div p#res {
	font-size: 8vmin;
	top: 50%;
	left: 50%;
	height: max-content;
	width: max-content;
	transform: translate(-50%,-50%);
}
/*----------------------------------------------------------------*/